# Default Code Owners file for the repository.
* @kristi-balla @janmalix

# Only @janmalix can approve changes to files in /.github/
/.github/ @janmalix

# ... but only @kristi-balla can approve changes to the CODEOWNERS file.
/.github/CODEOWNERS @kristi-balla

# Anyone with write permissions can approve changes to the following directories and files.
/demo/
/ui/
